.alerta {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-family: var(--headingFont);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    @include adaptar(768px){
        width: auto;
        top: 0;
        right: 0;
        left: auto;
    }
}
.alerta-error {
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: rgb(230, 78, 78);
    background-color: $blanco;
    color: rgb(230, 78, 78);
    box-shadow: 10px 9px 21px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 9px 21px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 21px -3px rgba(0,0,0,0.75);
}
.alerta-ok {
    background-color: rgb(109, 211, 109);
    color: rgb(2, 103, 2);
}
