.contenedor-dashboard{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2rem;
    .fila{
        background-color: $blanco;
        padding: 5rem;
    }
    .dashboard__fila2{
        grid-row: 2/3;
    }
    .dashboard__fila3{
        grid-row: 3/4;
    }
    .dashboard__fila5{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .dashboard__fila6{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .dashboard__fila7{
       grid-column: 3/5;
       grid-row: 1/4;
    }
}

.lista-paises{
    h2{
        font-size: 3rem;
        font-weight: normal;
    }
    list-style: none;
    li{
        border: 1px solid $azul;
        border-radius: .5rem;
        margin:1rem 0;
        text-align: center;
        padding: 2rem;
        font-size: 2.5rem;
        color: $azul;
        user-select: none;
        font-weight: bold;
        transition: all .3s ease-in-out;
        &:hover{
            cursor: pointer;
            background-color: $azul;
            color: $blanco;
            transform: scale(1.1);
        }
    }
}
.clima{
    h2{
        text-align: center;
        font-weight: normal;
        font-size: 3rem;
    }
}
.clima__informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    p{
        font-size: 2.5rem;
        text-align: center;
        span{
            font-weight: bold;
            color: $azul;
        }
    }
}

.pais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 3rem;
        font-weight: normal;
    }
    p{
        font-size: 2.5rem;
        font-weight: bold;
        color: $azul;
    }
}
.hora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 3rem;
        font-weight: normal;
    }
    p{
        font-size: 2.5rem;
        font-weight: bold;
        color: $azul;
    }
}
.zonas{
    ul{
        list-style: none;
    }
    li{
        border: 1px solid $azul;
        border-radius: .5rem;
        margin:1rem 0;
        text-align: center;
        padding: 2rem;
        font-size: 2.5rem;
        color: $azul;
        user-select: none;
        font-weight: bold;
        transition: all .3s ease-in-out;
        &:hover{
            cursor: pointer;
            background-color: $azul;
            color: $blanco;
            transform: scale(1.1);
        }
    }
}