.contenedor-dashboard{
    margin-top: 5rem;
    .fila{
        background-color: $blanco;
        padding: 5rem;
        margin-bottom: 2rem;
    }
  @include adaptar(995px){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2rem;
   
    .dashboard__fila2{
        grid-row: 2/3;
        height: 36.4rem;
        overflow-y: scroll;
    }
    .dashboard__fila3{
        grid-row: 3/4;
        height: 36.4rem;
        overflow-y: scroll;
    }
    .dashboard__fila5{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .dashboard__fila6{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .dashboard__fila7{
       grid-column: 3/5;
       grid-row: 1/4;
    }
  }
}

.lista-paises{
    h2{
        font-size: 3rem;
        font-weight: normal;
    }
    list-style: none;
    li{
        border: 1px solid $azul;
        border-radius: .5rem;
        margin:1rem 0;
        text-align: center;
        padding: 2rem;
        font-size: 2.5rem;
        color: $azul;
        user-select: none;
        font-weight: bold;
        transition: all .3s ease-in-out;
        &:hover{
            cursor: pointer;
            background-color: $azul;
            color: $blanco;
            transform: scale(1.1);
        }
    }
}
.clima{
    h2{
        text-align: center;
        font-weight: normal;
        font-size: 3rem;
    }
}
.clima__informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    p{
        font-size: 2.5rem;
        text-align: center;
        span{
            font-weight: bold;
            color: $azul;
        }
    }
}

.pais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 3rem;
        font-weight: normal;
    }
    p{
        font-size: 2.5rem;
        font-weight: bold;
        color: $azul;
    }
}
.hora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 3rem;
        font-weight: normal;
    }
    p{
        font-size: 2.5rem;
        font-weight: bold;
        color: $azul;
    }
}
.zonas{
    ul{
        list-style: none;
    }
    li{
        border: 1px solid $azul;
        border-radius: .5rem;
        margin:1rem 0;
        text-align: center;
        padding: 2rem;
        font-size: 2.5rem;
        color: $azul;
        user-select: none;
        font-weight: bold;
        transition: all .3s ease-in-out;
        &:hover{
            cursor: pointer;
            background-color: $azul;
            color: $blanco;
            transform: scale(1.1);
        }
    }
}
.dashboard__tareas{
    h2{
        text-align: center;
        font-weight: normal;
        font-size:3rem;
        margin-top: 0;
    }
    ul{
        list-style: none;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            
        }
        p{
            font-size: 1.6rem;
            color: $azul;
            font-weight: bold;

        }
        p,button{
            flex:0 0 calc(50%);
        }
    }
    input,.btn-submit{
        width: 100%;
        margin-bottom: 1rem;
        padding: .5rem 1.3rem;
    }
    input{
        outline: none;
    }
    button{
        background-color: $azul;
        color: $blanco;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
}
form{
    .btn-submit{
        background-color: $azul;
        color: $blanco;
        border: none;
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
    }
}

.dasboard__tareas-completadas{
    h2{
        text-align: center;
        font-weight: normal;
        font-size:3rem;
        margin-top: 0;
    }
    ul{
        list-style: none;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            
        }
        p{
            font-size: 1.6rem;
            color: $azul;
            font-weight: bold;

        }
    }
}